* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

:root {
    --primary: #6320ee;
    --secondary: #8075ff;
    --lighttext: #f8f0fb;
    --offblack: #211a1d;
}

body {
    background-color: #FBFEF9;
}

.navbar-brand {
    background-image: linear-gradient(45deg, var(--secondary), var(--primary));
    border-radius: 0px 10px 10px 0px;
    color: #fff;
}

.hero-banner {
    background-image: url(../img/profile.jpg);
    height: 80dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-banner h2 {
    border-radius: 10px;
    background-image: linear-gradient(45deg, var(--secondary), var(--primary));
}

#about p {
    background-image: linear-gradient(45deg, var(--primary), var(--secondary));
    border-radius: 10px;
}

i {
    color: var(--primary);
}

.card {
    border: none;
}

.showcase {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

#work a {
    font-size: 3rem;
}

.showcase a, {
    font-size: 2rem;
}

.showcase a, .showcase p {
    text-decoration: none;
    text-shadow: 2px 2px 8px black;
}

#showcase1 {
    height: 400px;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/travel-california.png);
}

#showcase2 {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/02-portfolio-1.jpg);
}

#showcase3 {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/02-portfolio-2.jpg);
}

#showcase4 {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/02-portfolio-3.jpg);
}

#showcase5 {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/02-portfolio-4.jpg);
}

.skill-card {
    height: 100px;
    background-color: var(--offblack);
    border-radius: 10px;
}

.skill-card p, .skill-card h4 {
    text-shadow: 2px 2px 8px black;
}

.skill-card.complete {
    background-image: linear-gradient(45deg, var(--primary), var(--secondary));
}

footer {
    height: 250px;
    background-image: linear-gradient(45deg, var(--secondary), var(--primary));
}

footer a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

footer a:hover {
    font-size: 120%;
    transition: 0.3s ease-in-out;
}

footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
