* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

:root {
    --primary: #6320ee;
    --secondary: #8075ff;
    --lighttext: #f8f0fb;
    --offblack: #211a1d;
}

body {
    background-color: #FBFEF9;
}

.navbar-brand {
    background-image: linear-gradient(45deg, var(--secondary), var(--primary));
    border-radius: 0px 10px 10px 0px;
    color: #fff;
}

.hero-banner {
    background-image: url(../img/profile.jpg);
    height: 80dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-banner h2 {
    border-radius: 10px;
    background-image: linear-gradient(45deg, var(--secondary), var(--primary));
}

.card {
    border: none;
}

.showcase {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

#showcase1 {
    background-image:url(../img/02-portfolio-1.jpg);
}

#showcase2 {
    background-image:url(../img/02-portfolio-2.jpg);
}

#showcase3 {
    background-image:url(../img/02-portfolio-3.jpg);
}

#showcase4 {
    background-image:url(../img/02-portfolio-4.jpg);
}

#showcase5 {
    background-image:url(../img/02-run-buddy.jpg);
}